#filter{
    width: 100%;
    margin-top: 2%;
}
label{
    font-size: 18px;
    font-weight: bolder;
}
select,
option{
    background-color: #901C1C;
    color: white;
    padding: 11px;
    height: 70px;
    width: 170px;
    border: none;
    border-radius: 5px;
    align-self: center;
    cursor: pointer;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
}