.photographer__portrait {
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.photographer__portrait img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}
.photographer__info {
  text-align: center;
}
.photographer__name {
  margin: 8px;
}
.photographer__card{
    @for $i from 1 through 13 {
      &:nth-child(#{$i}n) {
        animation-fill-mode: both;
        animation-delay: 0.5s * $i;
      }
    }
    animation: apparition 0.9s;
}