#contact_modal {
  display: none;
  position: fixed;
  opacity: 100%;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(10, 10, 10, 0.4);
}

.photograph-header {
  background-color: #fafafa;
  padding: 1% 0%;
}

.contact_button {
  font-size: 20px;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  align-self: center;
  cursor: pointer;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 700;
}
#contact__modal:hover{
  color: black;
  background-color: #DB8876;
  transition: all .1s ease-in-out;
}
/* MODAL */ 
.modal {
  background-color: #db8876;
  width: 430px;
  padding: 1% 3%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 3%;
  margin: auto;
}

.modal header {
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3%;
}

.modal header img {
  cursor: pointer;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 22px;
}

form div {
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 20px;
}

#message{
  align-self: center;
  border: none;
  border-radius: 5px;
  height: 15vh;
  padding: 5px;
  width: 100%;
}
.contact_modal__name{
  font-size: 40px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  width: 87%;
}
