.photographer__card {
  display: flex;
  flex-direction: column;
  margin: 1% 6%;
  width: 243px;
}
.photographer__portrait {
  display: flex;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}
.photographer__portrait img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 100%;
}
.photographer__info p {
  margin: 1%;
}
.photographer__name,
.photographer__info {
  text-align: center;
  font-weight: 400;

}
.photographer__name {
  margin-bottom: 0;
  color: #d3573c;
  font-size: 29px;
  line-height: 47px;
}

.photographer__info__localisation {
  color: #901c1c;
  font-weight: 400;
  font-size: 18px;
  line-height: 17px;
  margin-top: 0;
  margin-bottom: 7px;
}
.photographer__info__tagline {
  font-weight: 400;
  font-size: 12px;
  line-height: 13px;
}
.photographer__info__price {
  color: #757575;
  font-weight: 400;
  font-size: 11px;
  line-height: 12px;
}